body{
    background-color: rgb(211, 216, 219);
}
.container{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px;
    border-bottom-left-radius: 13px ;
    border-bottom-right-radius:13px;
    background-color: rgb(255, 253, 253);
    width: 300px;
}
.header{
    padding-left: 12px;
    padding-right: 12px;
    
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    
}

.header-right img{
    margin-top: 26px;
    height: 20px;
    justify-content: space-between;
}
.nav{
    background-color: rgb(255, 255, 255);
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius:10px;
}
.nav-right{
    margin-right: 5%;
}
.nav img{
    cursor: pointer;
}
.content{
    
    background-color: rgb(236, 241, 248);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.content h1,h4,h6,h5{
    font-weight: 100;
}
hr{
    width: 190px;
}
h2{
    margin-top: 20px;
    font-size: 13px;
}
.content img{
    height: 55px;
}
