body{
    background-color: rgb(14, 13, 13);
}
#hamburger{
    height: 22px;
    width: 22px;
    margin-left: 2%;
    margin-top: 1%;
}
#logo{
    height: 76px;
    width: 100px;
    margin-left: 4%;
    margin-top: -3.5%;
}
.search input[type=text] {
    float: right;
    padding: 5px;
    margin-top: -50px;
    margin-right: 540px;
    border: none;
    font-size: 17px;
    background-color: black;
    color: white;
    width: 550px;
}
#glass{
    margin-left: 950px;
    height: 1cm;
    margin-top: -20%;
    padding: 2%;
}
#mic{
    margin-left: 1000px;
    height: 1cm;
    margin-top: -20%;
    padding: 3.3%;
}
#vid{
    margin-left: 1220px;
    height: 22px;
    margin-top: -20%;
    padding: 5%;
    width: 20px;
}
#grid{
    margin-left: 1250px;
    height: 20px;
    margin-top: -20%;
    padding: 6.3%;
}
#noti{
    margin-left: 1280px;
    height: 23px;
    margin-top: -20%;
    padding: 7.3%;
}
#acc{
    margin-left: 1320px;
    height: 37px;
    margin-top: -20%;
    padding: 8.1%;
}
button{
    border-radius: 3cm;
    background-color: rgb(94, 91, 91);
    color: white;
    border-style: solid;    
    padding-left: 1%;
    padding-right: 1%;
  height: 30px;
    text-align: center;
}
nav{
    margin-left: 250px;
    padding-bottom: 16%;
    margin-top: 0.7%;
}
